<div class="container-fluid" id="listToggle">
	<ul id="toggle-view">
		
		<!-- III Cal-Asia History-->
		<li>
			<h3>History</h3>
			<span>+</span>
			<div class="panel">
				<p><strong>1971</strong> Founded as the Pacific-Indonesian Chamber of Commerce</p>
				
				<p><strong>1990</strong> Focus expanded to include ASEAN plus Vietnam and Papua New Guinea; renamed Califonia-Southeast Asia Business Council
				1998 Cal-Asia received the Export Citizen of the Year Award in 1998 for  our unremitting focus on business opportunities during the Asian crisis </p>
				
				<p><strong>2000</strong> Scope expanded to include China, and subsequently Japan, Korea, India, Australia, New Zealand, Mongolia;  renamed  California-Asia Business Council</p>
				
				<p><strong>2007</strong> Received the Certificate of Appreciation for Achievement in Trade  for “creating opportunities for international trade and business through our partnership with the U.S. Commercial Service, the China Banking &amp; Technologies Initiative,  and the Asia Clean Development and GreeningAsia Initiative”</p>
				
				<p><strong>2012</strong> Cal-Asia signed a memorandum of agreement on partnering with the US Department of Commerce to support US exports and investment on July 23, 2012; became an official partner of the U.S. International Trade Administration. Click <a href="/files/release_12memoDoCPartnership.pdf" target="_blank">here</a> for the release (PDF).</p>
			</div><!-- end panel -->
		</li>	
		
		<!-- IV Cal-Asia's Mission  -->
		<li>
			<h3>Mission</h3>
			<span>+</span>
			<div class="panel">
				<p>California-Asia Business Council (Cal-Asia) is one of California's leading private-sector, non-profit, international business-promotion associations. Our mission is to help California firms of all sizes develop or expand their commercial ties with the economies of Pacific Asia and India. We welcome active participation by our members. Join us if you are interested in expanding or building your business in these dynamic economies.</p>
			</div><!--end panel -->
		</li>
		
		<!-- V Cal-Asia Board-->
		<li>
			<h3>Board</h3>
			<span>+</span>
			<div class="panel">
				<div class="row">
					<div class="col-md-6">
						<h5>Officers</h5>
						<strong>Chairman:</strong> Elizabeth Y.A. Ferguson <br>
						<strong>Chairman Emeritus:</strong> Daniel Chao<br>
						<strong>President/ Honorary Counsel:</strong> Mark C. Dosker<br>
						<strong>Vice Presidents:</strong> Brad Aris, George Sycip<br>
						<strong>Executive Director:</strong> Jeremy W. Potash<br>
						<strong>Senior Advisor:</strong> Dr. Daniel K.H. Chao<br>
						<strong>Emerging Leaders/ Young Professionals President:</strong> Michelle Full<br><br>
					</div><!-- end col-md-6 -->

					<div class="col-md-6">
						<h5>Directors</h5>
						Brad Aris, <i>Wells Fargo Bank</i><br> 
						Chris Chang, <i>Alien Technology</i><br>
						Mark C. Dosker, <i>Squire Patton Boggs</i><br> 
						Elizabeth Y.A. Ferguson, <i>Drexel Oceania</i><br> 
						Gordon Hein , Ph.D., <i>Asia Foundation</i><br> 
						Michael Keyoung, MD, Ph.D, <i>Portola Capital Partners</i><br>
						G. Paul Matthews, <i>Matthews International Capital</i><br>
						Sandra R. McCandless, <i>Dentons</i><br>
						Dr. Nancy Mangold, <i>Cal State East Bay</i><br>
						Lillian Nakagawa, <i>GCA Law Partners LLP</i><br>
						Peter Osmond, <i>Symantec</i><br>
						Joe Ryan, <i>Top 1 Oil</i><br> 
						George Sycip, <i>Halanna Management</i><br> 
						Patricia Yeh, <i>SOM</i><br>
					</div><!-- end col-md-6 -->
				</div><!-- end row -->
			</div><!--end panel -->
		</li>
		
		<!-- VI  Business Leads & Information -->
		<li>
			<h3>Business Leads &amp; Information</h3>
			<span>+</span>
			<div class="panel">
				<p>The Council's programs in California have featured heads of state from Malaysia and the Philippines, Vietnam's Deputy Prime Minister, Chinese and other Asian trade and economic ministers, ambassadors of the United States and Asian countries, and senior business leaders from both sides of the Pacific. The council's vigorous program schedule, its initiatives focused on sustainable development in Asia and China's financial sector, and the periodic dissemination of key business highlights has earned two coveted awards from the US Department of Commerce.</p>

				<p>The Council's Board of Directors, reflecting growing interest in China on the part of our member companies, expanded the Council's focus in 2000 to include China, in addition to the Southeast Asian market, and subsequently Korea, Japan, India and Mongolia. Cal-Asia was founded as the Pacific-Indonesian Chamber of Commerce in 1971.</p>
			</div><!--end panel -->
		</li>

		<!-- VIII Asia Night & The Silk Road Award -->
		<li>
			<h3>Asia Night &amp; The Silk Road Award</h3>
			<span>+</span>
			<div class="panel">
				<p>California-Asia Business Council (Cal-Asia) began bestowing the New Silk Road Award at Asia Night in 2003, calling attention to distinguished business and government leaders who have made outstanding contributions to California-Asia business. We have honored leaders and visionaries who have pioneered legal, technological, and financial infrastructure improvements or helped lead the way in philanthrophy, innovation, entrepreneurship. Visit <a href="http://www.asianight.org" target="_blank">www.AsiaNight.org</a> to learn more.</p>
			</div><!--end panel -->
		</li>

		<!-- IX Supporters -->
		<li>
			<h3>Supporters</h3>
			<span>+</span>
			<div class="panel">
				<p>Recent sponsors and participants of Cal-Asia Events</p>
				<div class="row">
					<div class="col-md-6">
						AIG<br>
						APL<br>
						Arasor<br>
						Asia Development Bank<br>
						Bain & Co.<br>
						Bank of America<br>
						Bechtel<br>
						Cathay Pacific<br>
						Charles Schwab<br>
						Chevron<br>
						Cisco Systems<br>
						CommerceNet<br>
						Deloitte<br>
						Disney<br>
						East West Bank<br>
						Ernst & Young<br>
						Gilead Technologies<br>
						Government of Indonesia<br>
						H&Q Asia Pacific<br>
						HSBC Trade Bank<br>
						KPMG<br>
						Malaysia Airlines<br>
					</div><!--end col-md-6 -->
					<div class="col-md-6">
						Matthews International Capital LLC<br>
						Meyer Sound Laboratories<br>
						Nanostellar<br>
						Newbridge<br>
						Parsons Corp.<br>
						Philippine Airlines<br>
						Port of Oakland<br>
						Potash & Company<br>
						Pricewaterhouse Coopers<br>
						Richard C. Blum<br>
						Sonnenschein<br>
						Squire Sanders<br>
						Sybase<br>
						Thai Airways<br>
						The Asia Foundation<br>
						Thelen Reid Brown Raysman & Steiner LLP<br>
						Top 1 Oil<br>
						U.S. Department of Commerce<br>
						Vietnamese Consulate General<br>
						Wells Fargo Bank<br>
						White & Case LLP<br>
					</div><!--end col-md-6 -->
				</div><!-- end row -->
			</div><!--end panel -->
		</li>
	</ul>
</div>