<form style="background:white;color:#777">
  <div class="row">
    <h2 class="col-md-12 text-center">
      Event
    </h2>
  </div>
  <div style="padding:10px">
    <h4> Type of Event: </h4>
    <div class="radio">
      <label>
        <input type="radio" name="eventType" id="optionsRadios1" value="internal" checked>
        Internal
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="eventType" id="optionsRadios2" value="external">
        External
      </label>
    </div>
    <h4> Event Name:</h4>
    <input class="form-control" ng-model="form.name" style="width:100%" placeholder="Cal-Asian Event">
  </div>
  <div>
    <div style="display:inline-block; padding:10px; width:33%">
      <h4> Date:</h4>
      <input class="form-control" type="date" style="width:100%" ng-model="form.date.full">
    </div>
    <div style="display:inline-block; padding:10px; width:33%">
      <h4> Time:</h4>
      <input class="form-control" type="time" style="width:100%" ng-model="form.eventTime.full">
    </div>
    <div style="display:inline-block; padding:10px; width:33%">
      <h4> Location:</h4>
      <input class="form-control" style="width:100%" placeholder="Address" ng-model="form.location">
    </div>
    <div style="display:inline-block; padding:10px; width:33%">
      <h4> Price: <span ng-show="form.price">$[[form.price]]</span> </h4>
      <input class="form-control" style="width:100%" placeholder="123" type="number" ng-model="form.price">
    </div>
    <div style="display:inline-block; padding:10px; width:33%">
      <h4> Registration Deadline:</h4>
      <input id="test" class="form-control" type="date" style="width:100%" ng-model="form.registration.date">
    </div>
    <div style="display:inline-block; padding:10px; width:33%">
      <h4> Registration URL:</h4>
      <input class="form-control" style="width:100%" placeholder="www.example.com" ng-model="form.registration.url">
    </div>
    <div style="display:inline-block; padding:10px; width:33%">
      <h4> Capacity: [[form.capacity]]</h4>
      <input class="form-control" type="number" style="width:100%" placeholder="60" ng-model="form.capacity">
    </div>
  </div>
  <div style="padding:10px">
    <h4> Description:</h4>
    <textarea class="form-control" style="width:100%; height:20em" ng-model="form.description"></textarea>
    <h4>Schedule<h4>
    <textarea class="form-control" style="width:100%; height:20em" ng-model="form.schedule"></textarea>
    <h4> speakers(if more than 1, separate with blank space " ")</h4>
    <input class="form-control" placeholder="Speakers" ng-model="form.speakers">
    <h4> Sponsors(if more than 1, separate with blank space " ")</h4>
    <input class="form-control" placeholder="Sponsors" ng-model="form.sponsors">
    <h4> ImageUrl(if more than 1, separate with blank space " ")</h4>
    <input class="form-control" placeholder="img1 img2 img3..." ng-model="form.image">
    <div style="margin-top:1em" class="text-center">
      <a style="display:inline-block">
        <button class="btn btn-primary" ng-click="submitEvent()">Submit Event</button>
      </a>
    </div>
  </div>
</form>