<!-- Cal Asia Programs & Events -->

<div id="calendarBox">
	<p class="lead" style="padding-top:20px; text-align:center;">Cal-Asia Programs and Events</p>
	<small><p class="text-center">To see details, click the event name.</p></small>
	<div class="row">
		<div class="col-lg-12">
			<div class="table-responsive">
				<div class="modal fade" id="[[event._id]]" ng-repeat="event in internalEvents">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button class="close" data-dismiss="modal">&times;</button>

								<h4 class="modal-title">[[event.name]]</h4>
								<h5>Date: [[event.date.string]], Time: [[event.eventTime.string]]</h5>
								<h5>Location: [[event.location]]</h5>
								<h5 ng-show="event.capacity">Capacity: [[event.capacity]]</h5>
								<h5 ng-show="event.price">Price: $[[event.price]]</h5> 
							</div><!-- end modal header-->

							<div class="modal-body">
							<p ng-repeat="paragraph in event.description">[[paragraph]]</p> 
							<p ng-repeat="paragraph in event.schedule">[[paragraph]]</p>

							</div><!-- end modal body-->

							<div class="modal-footer">
								<button class="btn btn-success" type="button">Register for this Event</button> <button class="btn btn-primary" data-dismiss="modal" type="button">Close</button>
							</div><!-- end modal-footer -->
						</div><!-- end modal content -->
					</div><!-- end modal dialog --> 
				</div><!--end modal fade --> 
				<table class="table table-hover">
					<thead>
					  <tr>
					  	<th>Event Name</th>
					  	<th>Date</th>	
					  	<th>Location</th>
					  	<th>Registration Link</th>
					  	<th>Sponsors and Supporters</th>	
					  </tr>
					</thead>		
					<tbody>
						<tr ng-repeat="event in internalEvents">
							<th scope="row"><a ng-click="showModal([[event._id]])" data-toggle="modal">[[event.name]]</a></th>
							<td>[[event.date.string]]</td>
							<td>[[event.location]]</td>
							<td><span ng-show="event.registration.date.string">Register by [[event.registration.date.string]]<span></td>
							<td>[[event.sponsors.join(", ")]]</td>
						</tr>
					</tbody>
				</table>
			</div><!-- end div table-responsive -->
		</div><!-- end col-lg-12 -->
	</div><!-- end row --> 
	<p class="lead" style="padding-top:20px; text-align:center;">Featured International and Other Events</p>
	<div class="row">
		<div class="col-lg-12">
			<div class="table-responsive">
				<div class="modal fade" id="[[event._id]]" ng-repeat="event in externalEvents">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button class="close" data-dismiss="modal">&times;</button>

								<h4 class="modal-title">[[event.name]]</h4>
								<h5>Date: [[event.date.string]], Time: [[event.eventTime.string]]</h5>
								<h5>Location: [[event.location]]</h5>
								<h5 ng-show="event.capacity">Capacity: [[event.capacity]]</h5>
								<h5 ng-show="event.price">Price: $[[event.price]]</h5> 
							</div><!-- end modal header-->

							<div class="modal-body">
							<p ng-repeat="paragraph in event.description">[[paragraph]]</p> 
							<p ng-repeat="paragraph in event.schedule">[[paragraph]]</p>

							</div><!-- end modal body-->

							<div class="modal-footer">
								<button class="btn btn-success" type="button">Register for this Event</button> <button class="btn btn-primary" data-dismiss="modal" type="button">Close</button>
							</div><!-- end modal-footer -->
						</div><!-- end modal content -->
					</div><!-- end modal dialog --> 
				</div><!--end modal fade --> 
				<table class="table table-hover">
					<thead>
					  <tr>
					  	<th>Event Name</th>
					  	<th>Date</th>	
					  	<th>Location</th>
					  	<th>Registration Link</th>
					  	<th>Sponsors and Supporters</th>	
					  </tr>
					</thead>		
					<tbody>
						<tr ng-repeat="event in externalEvents">
							<th scope="row"><a ng-click="showModal([[event._id]])" data-toggle="modal">[[event.name]]</a></th>
							<td>[[event.date.string]]</td>
							<td>[[event.location]]</td>
							<td><span ng-show="event.registration.date.string">Register by [[event.registration.date.string]]<span></td>
							<td>[[event.sponsors]]</td>
						</tr>
					</tbody>
				</table>

				<div style="margin-left:20px; padding-bottom:20px;">

					<small>To view Cal-Asia's past events, please <a href="#">click here</a>.<br>
				To view Cal-Asia's list of past speakers and their bios, please <a href="#">click here</a>.<br><br>
				Program Series of interest:<br>
				Shorenstein APARC Lectures<br>
				USF Center for Asia Pacific Studies Lectures<br>
				US-Asia Technology Managment Center, School of Engineering<br>

					</small>
				</div><!-- end div additional links --> 
			</div><!-- end div table-responsive -->
		</div><!-- end col-lg-12 -->
	</div><!-- end row --> 
</div><!-- end calendarBox-->