<!-- II Contact --> 
<div class="container contact">
	<div class="row">
		<div class="col-md-6">
			<p class="lead">Contact Us</p>
			<address>
			  <strong>California-Asia Business Council (Cal-Asia)</strong><br>
			  525 Market Street, 25th Floor<br>
			  San Francisco, CA 94105<br>
			  <abbr title="Phone">P:</abbr> 415-986-8808
			</address>

			<address>
			  <strong>Executive Director, Ms. Jeremy Potash</strong> 
			  <a href="mailto:#">jeremy@calasia.org</a><br>
			  <strong>General Information</strong>
			  <a href="mailto:#">info@calasia.org</a>
			</address>
		</div><!-- end col-md-6 -->

		<div class="col-md-6">

		</div><!-- end col-md-6-->
	</div><!-- end row -->
</div><!-- end contact -->