      <!-- II Carousel --> 
      <div class="span 6 offset6" id="carouselContainer">
        <div class="carousel slide" id="myCarousel">

          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li class="active" data-slide-to="0" data-target="#myCarousel"></li>
            <li data-slide-to="1" data-target="#myCarousel"></li>
            <li data-slide-to="2" data-target="#myCarousel"></li>
          </ol>

          <!-- Wrapper for slides --> 
          <div class="carousel-inner">
            <div class="item active" id="slide1">
              <div class="carousel-caption">
              <h4>Upcoming Cal-Asia Event</h4>
              <p><a href="https://www.eventbrite.com/e/business-opportunities-in-vietnam-breakfast-briefing-tickets-16045945856" target="_blank">Breakfast Briefing: Business Opportunities in Vietnam</a></p>
              </div><!--end carousel-caption --> 
            </div><!-- end item active -->  

            <div class="item" id="slide2">
              <div class="carousel-caption">
                <h4>Asia Night 2014</h4>
                <p>(From Left to Right) Liz Ferguson (Chairwoman), Richard Blum (Blum Capital), Jeremy Potash (Executive Director), and George Sycip (Vice President) after presenting Mr. Blum the 2014 New Silk Road Award</p>
              </div><!-- end carousel-caption-->
            </div><!-- end item 2 --> 

            <div class="item" id="slide3">
              <div class="carousel-caption">
                <h4>Asia Night 2012</h4>
                <p>New Silk Road Recipient Mr. Chong-Moon Lee giving a speech on the rise of Asia</p>
              </div><!-- end carousel-caption-->
            </div><!-- end item 3 --> 
          </div><!-- end carousel-inner -->

          <!-- Controls -->
          <a class="left carousel-control" data-slide="prev" onclick="$('#myCarousel').carousel('prev')" style="cursor:pointer"><span class="icon-prev"></span></a>

          <a class="right carousel-control" data-slide="next" onclick="$('#myCarousel').carousel('next')" style="cursor:pointer"><span class="icon-next"></span></a> 

        </div><!-- end myCarousel -->
      </div><!-- end carousel-container -->

      <!-- III About, Events; Updates; Twitter -->
      <div class="row">
        <div class="col-md-8">

          <!-- 1 About Our Work -->
          <div id="homeAbout" id="leftColumn">
            <h4> About Our Work</h4>
            <p style="padding: 0 30px;"> California-Asia Business Council (Cal-Asia) is one of California's leading private-sector, non-profit, international business-promotion associations. Our mission is to help California firms of all sizes develop or expand their commercial ties with the economies of Pacific Asia and India. Cal-Asia members range from some of the nation's largest multinational companies to small and medium-sized exporters, importers, manufacturers, and service companies. Industries represented range from infrastructure development to technology, and also export-import, resource development, global transportation, engineering and design, banking and finance. </p> 
          </div><!-- end homeAbout -->

          <!-- 2 Upcoming Events -->
          <div class="modal fade" id="[[event._id]]" ng-repeat="event in upcomingEvents">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button class="close" data-dismiss="modal">&times;</button>

                  <h4 class="modal-title">[[event.name]]</h4>
                  <h5>Date: [[event.date.string]], Time: [[event.eventTime.string]]</h5>
                  <h5>Location: [[event.location]]</h5>
                  <h5 ng-show="event.capacity">Capacity: [[event.capacity]]</h5>
                  <h5 ng-show="event.price">Price: $[[event.price]]</h5> 
                </div><!-- end modal header-->

                <div class="modal-body">
                <p ng-bind-html="event.description"></p> 

                </div><!-- end modal body-->

                <div class="modal-footer">
                  <div ng-if="event.past" style="display:inline-block; color:red" class="pull-left">
                    <p>This event has passed.</p>
                  </div>
                  <button ng-show="event.externalLink" class="btn btn-default" type="button">
                    <a href="[[event.externalLink]]" target="_blank">
                      More Details <span class="glyphicon glyphicon-new-window"></span>
                    </a>
                  </button> 
                  <div ng-if="!event.past" style="display:inline-block">
                    <a href="[[event.registration.url]]" target="_blank" ng-show="event.registration.url"><button class="btn btn-success" type="button">Register for this Event</button></a>
                  </div>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">Close</button>
                </div><!-- end modal-footer -->
              </div><!-- end modal content -->
            </div><!-- end modal dialog --> 
          </div><!--end modal fade --> 
          <div id="homeEvents">
            <h4><span class="glyphicon glyphicon-calendar"></span> Upcoming Cal-Asia and Partner Events <small><a href="/calendar">view all >></a></small></h4>
            <p style="padding: 0 30px;" ng-repeat="event in upcomingEvents">
              <strong>[[event.name]]</strong><br> 
              <i>[[event.date.string]]</i><br>
              <span ng-show="event.location">
                [[event.location]]
              </span>
              <br>
              <a ng-click="showModal([[event._id]])" style="cursor:pointer">Details</a> | <a href="[[event.registration.url]]" target="_blank">Registration</a>
            </p>
          </div><!-- end homeEvents -->   
        </div><!-- end col-md-8 leftColumn --> 

        <div class="col-md-4" id="rightColumn">
          <!-- 3 News & Updates -->  
          <div class="modal fade" id="[[update._id]]" ng-repeat="update in updates">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button class="close" data-dismiss="modal">&times;</button>

                  <h4 class="modal-title">[[update.title]]</h4>
                  <h5>Date: [[update.date.string]]</h5>
                </div><!-- end modal header-->

                <div class="modal-body">
                <p ng-bind-html="update.description"></p> 

                </div><!-- end modal body-->

                <div class="modal-footer">
                  <button class="btn btn-primary" data-dismiss="modal" type="button">Close</button>
                </div><!-- end modal-footer -->
              </div><!-- end modal content -->
            </div><!-- end modal dialog --> 
          </div><!--end modal fade -->  
          <div id="homeUpdates"> 
            <h4><span class="glyphicon glyphicon-asterisk"></span> News and Updates</h4>
            <p ng-repeat="update in updates" style="padding: 0 30px;">
              <strong>[[update.title]]</strong><br>
              <span ng-if="update.description">
                <i>[[update.date.string]]</i><br>
                <span ng-bind-html="update.description[0]"></span><br>
                <a ng-click="showModal([[update._id]])" style="cursor:pointer">Read More >></a>
              </span>
            </p>
           </div><!-- end homeUpdates -->

          <!-- 4 Twitter -->  
          <div id="Twitter" style="padding: 0px 0 20px 0; margin: 20px;">
            <a class="twitter-timeline"  href="https://twitter.com/calasiaorg"  data-widget-id="449677084760104961">Cal-Asia Insights on Twitter</a>
                      
                      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> 
                  </div>
        </div><!-- end col-md-4 rightColumn-->  
      </div><!-- end row -->