<!-- II Carousel --> 
<div class="span 6 offset6" id="carousel-container">
  <div class="carousel slide" id="myCarousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li class="active" data-slide-to="0" data-target="#myCarousel"></li>
      <li data-slide-to="1" data-target="#myCarousel"></li>
      <li data-slide-to="2" data-target="#myCarousel"></li>
    </ol>

    <!-- Wrapper for slides --> 
    <div class="carousel-inner">
      <div class="item active" id="slide1">
        <div class="carousel-caption">
        <h4>Test caption</h4>
        <p>Chong Moon Lee at Asia Night</p>
        </div><!--end carousel-caption --> 
      </div><!-- end item active -->  

      <div class="item" id="slide2">
        <div class="carousel-caption">
          <h4>Test caption 2</h4>
          <p>Featured program</p>
        </div><!-- end carousel-caption-->
      </div><!-- end item 2 --> 

      <div class="item" id="slide3">
        <div class="carousel-caption">
          <h4>Test caption 2</h4>
          <p>Featured program</p>
        </div><!-- end carousel-caption-->
      </div><!-- end item 3 --> 
    </div><!-- end carousel-inner -->

    <!-- Controls -->
    <a class="left carousel-control" data-slide="prev" href="#myCarousel"><span class="icon-prev"></span></a>
    <a class="right carousel-control" data-slide="next" href="#myCarousel"><span class="icon-next"></span></a> 

  </div><!-- end myCarousel -->
</div><!-- end carousel-container -->

<!-- Under Caroursel -->
<div id="under-carousel">
  <div class="row" id="wrapper">
      <div class="col-md-8" id="leftColumn">
        <div id="About" style="padding: 10px 0 30px 0; margin: 20px; border-bottom: solid 1px #4d4344;">
          <h4> About Our Work</h4>
          <p style="padding: 0 30px;"> California-Asia Business Council (Cal-Asia) is one of California's leading private-sector, non-profit, international business-promotion associations. Our mission is to help California firms of all sizes develop or expand their commercial ties with the economies of Pacific Asia and India. Cal-Asia members range from some of the nation's largest multinational companies to small and medium-sized exporters, importers, manufacturers, and service companies. Industries represented range from infrastructure development to technology, and also export-import, resource development, global transportation, engineering and design, banking and finance. </p> 
        </div><!-- end About -->

        <div id="Events" style="padding: 0px 0 30px 0; margin: 20px;">
          <h4><span class="glyphicon glyphicon-calendar"> </span> Upcoming Cal-Asia and Partner Events</h4>
          <p style="padding: 0 30px;">
            Event 1<br> 
            Description<br>
            <a href="#">Details</a> | <a href="#">Registration</a><br>
          </p>

          <p style="padding: 0 30px;">
            Event 2<br>
            Description<br>
            <a href="#">Details</a> | <a href="#">Registration</a><br>
          </p>

          <p style="padding: 0 30px;">
            Event 3<br>
            Description<br>
            <a href="#">Details</a> | <a href="#">Registration</a><br>
          </p>
        </div><!-- end Events -->   
      </div><!-- end left column --> 

     <div class="col-md-4" id="rightColumn">
      
      <div id="NewsUpdates" style="padding: 0px 0 20px 0; margin: 20px;"> 
        <h4><span class="glyphicon glyphicon-asterisk"></span> News and Updates</h4>
        <p style="padding: 0 30px;">
            Update 1<br> 
            Description<br>
            <a href="#">Read More >></a><br>
          </p>

          <p style="padding: 0 30px;">
            Update 2<br>
            Description<br>
            <a href="#">Read More >></a><br>
          </p>
      </div><!-- end NewsUpdates -->

      <div id="Twitter" style="padding: 0px 0 20px 0; margin: 20px;">

      <a class="twitter-timeline"  href="https://twitter.com/calasiaorg"  data-widget-id="449677084760104961">Cal-Asia Insights on Twitter</a>
                              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> 
     </div><!-- end col-md-4 -->
  </div><!-- end row wrapper--> 



</div><!-- end container under carousel-->