<!-- III Internships -->
<div class="row" id="internshipBox">
	<div class="col-md-6">
		<p class="lead">Join our team!</p>
		<p>Cal-Asia welcomes undergraduate and graduate students who have a deep interest in Asia, a desire to fine tune knowledge of key economic issues that drive development, and a strong interest in sustainability. We are looking for interns who want to take part in our mission to build and enhance California-Asia commercial ties, which we believe lead to jobs and opportunities on both sides of the Pacific.</p> 

		<p>Internship applications are accepted and reviewed on a rolling basis. Please see the right-hand side of this page for available internship positions for Summer 2015 and click on each for details. To download a PDF of information on all available internships, click <a href="files/15-internships.pdf" target="_blank">here</a>. Please email your cover letter and resume to <a href="mailto:info@gcalasia.org">info@calasia.org</a>. 
	</div><!-- end col-md-6 -->

	<div class="col-md-6">
		<div class="list-group">
			<!-- Program Intern -->
			<a onclick="$('#programIntern').modal('show')" class="list-group-item" data-toggle="modal" style="cursor:pointer">
			<h4 class="list-group-item-heading">Program Intern</h4>
			<p class="list-group-item-text">Program interns assist in the design, publicity, and outreach of Cal-Asia's business events. </p>
			</a>

			<!-- Program Intern Modal --> 
			<div class="modal fade" id="programIntern">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button class="close" data-dismiss="modal">&times;</button>

							<h4 class="modal-title">Program Intern</h4>
							<h5>1-2 Positions Available</h5>
						</div><!-- end modal header-->

						<div class="modal-body">
							<p><strong>Description:</strong>  Cal-Asia, as all non-profits, needs to raise funds for operations and activities.   This entails reaching out to firms striving to build or grow their Asia presence, or those wanting to provide services to incoming Asia  businesses.  Help us find out who they are, how we can reach them, how we can work together to accomplish our mutual goals. The program intern will focus on the crucial areas of Development, Membership, Fundraising, and Marketing.</p> 

							<strong>Responsibilities:</strong>
							<ul>
								<li>Research firms and contact information</li>
								<li>Develop customized letters to potential funders/members</li>
								<li>Reach out to prospects and follow up with phone calls and or visits</li>
							</ul>

							<p><strong>Qualifications:</strong>  Undergraduate or graduate student with good analytical skills, sharp writing and editing skills, discipline to adhere to project timelines, deep and abiding interest in Asia.  Proficiency in Adobe Photoshop and Acrobat a plus. </p>

							<p><strong>Schedule:</strong> Candidates are asked to commit to a minimum of 12 weeks and a minimum of 15 hours a week (at least 10 hours in office); plus occasional availability to take part in Cal-Asia events. Internships are unpaid positions.</p> 
						</div><!-- end modal body-->

						<div class="modal-footer">
							<button class="btn btn-primary" data-dismiss="modal" type="button">Close</button>
						</div><!-- end modal-footer -->
					</div><!-- end modal content -->
				</div><!-- end modal dialog --> 
			</div><!--end modal fade --> 
			<!-- end Modal --> 

			<!-- Web Intern -->
			<a onclick="$('#webIntern').modal('show')" class="list-group-item" data-toggle="modal" style="cursor:pointer">
				<h4 class="list-group-item-heading">Web Development Intern</h4>
				<p class="list-group-item-text">Cal-Asia's online presence aims to become gradually more dynamic. Web dev interns will assist in the design and maintenance of our growing databases. All programming languages welcome. </p>
			</a>

			<!-- Web Intern Modal --> 
			<div class="modal fade" id="webIntern">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Web Development Intern</h4>
							<h5>1 Position Available</h5>
						</div><!-- end modal header-->

						<div class="modal-body">
							<p><strong>Description:</strong> We aim to make Cal-Asia’s web presence more dynamic.  Web development interns will assist in the front-end and/ or back-end maintenance of CalAsia.org.  This position is ideal for those wishing to add to their developer’s portfolios as it offers room for creativity and initiative. </p> 

							<strong>Responsibilities:</strong>
							<ul>
								<li>Maintenance and expansion of CalAsia.org</li>
								<li>Creative solutions to hosting various Cal-Asia research through user-friendly and accessible design</li>
							</ul>

							<p><strong>Qualifications:</strong>  Ability to work with HTML5/ CSS/  JavaScript is a must. Preferrd candidates must have a basic understanding of MEAN stack development (MongoDB, ExpressJS, AngularJS, & NodeJS) and Git version control. We welcome a wide range of technical skills to invite creative solutions. </p>

							<p><strong>Schedule: </strong>Web development interns have the ability to mainly work remotely; however, the ability to work at the office at a minimum of 15 hours/ week for the first 2-3 weeks of work is required.  Afterwards, the intern may work on-site a minimum of 10 hours/ week and remotely as required by task off-site. </p> 
						</div><!-- end modal body-->

						<div class="modal-footer">
							<button class="btn btn-primary" data-dismiss="modal" type="button">Close</button>
						</div><!-- end modal-footer -->
					</div><!-- end modal content -->
				</div><!-- end modal dialog --> 
			</div><!--end modal fade --> 
			<!-- end Modal --> 

			<!-- Research Intern -->
			<a onclick="$('#researchIntern').modal('show')" class="list-group-item" data-toggle="modal" style="cursor:pointer">
			<h4 class="list-group-item-heading">Research Intern</h4>
			<p class="list-group-item-text">Become an integral part of our research projects, mainly the Cal-Asia Business Outlook and Great Asia Build.</p>
			</a>

			<!-- Research Intern Modal --> 
			<div class="modal fade" id="researchIntern">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Research Intern</h4>
							<h5>2-3 Positions Available</h5>
						</div><!-- end modal header-->

						<div class="modal-body">
							<p><strong>Description:</strong> Cal-Asia has ongoing research projects, focusing on topics such as GDP growth, key indicators, and agencies of 22 economies, as well as principal U.S. heads of missions and related agency heads. Currently, we are looking at the development of physical infrastructure throughout Asia in key sectors of energy, transportation, ICT, water/environment, climate change/remediation. Research interns will collaborate and assist with specific projects, predominately the Great Asia Build Project 2015, a comprehensive investigation of the forecasted $8 trillion market for infrastructure development in 22 economies of Asia. </p> 

							<strong>Responsibilities:</strong>
							<ul>
								<li>Track and research breaking articles on infrastructure projects</li>
								<li>Analyze funding mechanisms of development (private, public, and joint)</li>
								<li>Compose research findings to present to members and post occasional blogs on website</li>
							</ul>

							<p><strong>Qualifications:</strong>  Excellent analytical skills, sharp writing and editing skills, discipline to adhere to project timelines, deep and abiding interest in Asia. Background in statistics, data presentation, and grant writing a plus. Please send writing samples, prior research work if available.</p>

							<p><strong>Schedule:</strong> Research interns have the opportunity to work remotely but we prefer candidates that have the ability to commit to a minimum of 15 hours a week at our office in downtown San Francisco. Projects may require close collaboration with team both on-site and off-site.</p> 
						</div><!-- end modal body-->

						<div class="modal-footer">
							<button class="btn btn-primary" data-dismiss="modal" type="button">Close</button>
						</div><!-- end modal-footer -->
					</div><!-- end modal content -->
				</div><!-- end modal dialog --> 
			</div><!--end modal fade --> 
			<!-- end Modal --> 
		</div><!-- end list-group -->
	</div><!-- end col-md-6 -->
</div><!-- end row -->		 