<div class="row">
    <form class="col-md-4 col-offset-4">
        <h2> User Name</h2>
        <input type="text" name="userName" ng-model="userName">
        <h2> Password </h2>
        <input type="password" name="password" ng-model="password">
        <button ng-click="login()" role="submit">Login</button>
        <button ng-click="cancel()">Cancel</button>
    </form>
</div>