<!-- III Orgs -->
<ol class="breadcrumb">
		  <li><a href="resources.html">Resources</a></li>
		  <li class="active">U.S. and International Organizations</li>
</ol>

<div class="row" id="orgsBox">
	<div class="col-md-6">
		<p class="lead">U.S. Organizations</p>
			<ul style="list-style: none">
				<li><a href="http://www.fas.usda.gov/" target="_blank">USDA, Foreign Agriculture Service</a></li>

				<li><a href="http://www.ita.doc.gov/" target="_blank">U.S. Department of Commerce, ITA</a></li>

				<li><a href="http://www.state.gov/p/eap/" target="_blank">U.S. Department of State</a></li>

				<li><a href="http://www.dhs.gov/" target="_blank">U.S. Department of Homeland Security</a></li>

				<li><a href="http://www.cbp.gov/" target="_blank">U.S. Customs and Border Protection</a></li>

				<li><a href="http://www.exim.gov/" target="_blank">U.S. Export-Import Bank</a></li>

				<li><a href="http://www.ustda.gov/" target="_blank">U.S. Trade &amp; Development Agency</a></li>

				<li><a href="http://www.usaid.gov/" target="_blank">U.S. Agency for International Development</a></li>

				<li><a href="http://www.ustr.gov/" target="_blank">U.S. Trade Representatives</a></li>

				<li><a href="http://www.opic.gov/" target="_blank">U.S. Overseas Private Investment Corporation</a></li>

				<li><a href="http://www.fda.gov/" target="_blank">U.S. Food and Drug Administration(FDA)</a></li>

				<li><a href="http://www.usda.gov/wps/portal/usdahome" target="_blank">U.S. Department of Agriculture</a></li>
			</ul>
	</div><!-- end col-md-6 -->

	<div class="col-md-6">
		<div class="list-group">
		  <p class="lead">International Organizations</p>
			<ul style="list-style: none">
				<li><a href="http://www.worldbank.org/" target="_blank">World Bank</a></li>

				<li><a href="http://www.wto.org/" target="_blank">World Trade Organization(WTO)</a></li>

				<li><a href="http://www.worldbank.org/ida/" target="_blank">International Development Association</a></li>

				<li><a href="http://www.ifc.org/" target="_blank">International Finance Corporation</a></li>

				<li><a href="http://www.miga.org/" target="_blank">Multilateral Investment Guarantee Agency</a></li>

				<li><a href="http://www.imf.org/" target="_blank">International Monetary Fund</a></li>

				<li><a href="http://www.unescap.org/" target="_blank">United Nations Economic and Social Commission</a></li>

				<li><a href="http://www.undp.org/" target="_blank">United Nations Development Programme (UNDP)</a></li>

				<li><a href="http://www.adb.org/" target="_blank">Asian Development Bank, Manila</a></li>

				<li><a href="http://www.aseansec.org/" target="_blank">ASEAN (Association of Southeast East Asian Nations)</a></li>

				<li><a href="http://www.jbic.go.jp/en" target="_blank">Japan Bank for International Cooperation</a></li>

				<li><a href="http://www.jica.go.jp/english/index.html" target="_blank">Japan International Cooperation Agency</a></li>

				<li><a href="http://www.idrc.ca/" target="_blank">International Development Research Centre</a></li>

				<li><a href="" target="_blank">Asia-Europe Foundation</a></li>
			</ul>
		</div><!-- end list-group -->
	</div><!-- end col-md-6 -->
</div><!-- end row -->