<!DOCTYPE html>
<html lang="en">
  <head>
    
    <!-- Meta -->
    <meta charset="utf-8"/>
    <title>California-Asia Business Council</title>
    <meta name="keywords" content="california, asia, business, council, cal-asia">
    <meta name="author" content="Shin Thu San www.theyangonite.com">
    
    <!-- Mobile Specific --> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <!-- Boostrap CSS -->
    <link href = "css/bootstrap.min.css" rel = "stylesheet">
    <link rel ="shortcut icon" href="/favicon.ico">
    <link href = "css/bootstrap-glyphicons.css" rel = "stylesheet">
    <link rel="icon" type="image/png" href="img/favicon.ico">
    <script src="https://code.jquery.com/jquery.js"></script>


    <!-- Custom CSS --> 
    <link href = "css/styles.css" rel = "stylesheet">
    <!-- Angular JS -->
    <base href='/'>

  </head>
  
  <body ng-app="calasia">
  
    <!-- Navigation --> 
    <nav class="navbar navbar-default">
      <div class="container" id="nav-container-inner">
        <div class="navbar-header">
          
          <button type="button" class="navbar-toggle" data-target="#nav_list" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="/"><img src="img/logoblk.png" alt="logo" onerror="this.onerror=null; this.src='img/logoblk.png'"></a>
        </div><!-- end navbar-header -->

        <div class="collapse navbar-collapse" id = "nav_list" >
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/">Home</a></li>

            <li class="dropdown">
              <a style="cursor:pointer" class="dropdown-toggle" data-toggle="dropdown">Events<strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <li><a href="/programs">Cal-Asia Programs</a></li>
                <li><a href="/calendar">Calendar</a></li>
              </ul><!-- end dropdown-menu-->
            </li>
            <li><a href="/membership">Membership</a></li>
            <li><a href="/resources">Resources</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="http://asianight.org/" target="_blank" class="extLink">Asia Night <span class="glyphicon glyphicon-new-window"></span></a></li>
          
          </ul><!-- end nav -->
        </div><!-- end nav-collapse --> 
      </div><!-- end navbar-container-inner --> 
    </nav><!-- end navbar-fixed top -->

    <!-- Body Container -->
    <div class="container">

      <!-- Body Div -->
      <div id="bodyDiv">

        <!-- I Mission --> 
        <div id="missionBox">
          <div class="row">
            <div class="col-lg-12">
              <p class="text-center" id="mission-text">Cal-Asia's <b>mission</b> is to foster business between California and the economies of Asia</p>
            </div><!-- end col-lg-12 -->
          </div><!-- end row -->
        </div><!-- end missionBox -->

        <!-- main view -->
        <div ng-view>
        </div>
      </div><!-- end bodyDiv -->

      <footer>
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="footerContent">
              <strong>Economy pages</strong>
              <div class="row" style="margin-top:15px;">
                <div class="col-sm-6">
                  <ul style="list-style-type:none; padding-left: 5px; margin-left: 0px">
                    <li><a href="/resources/california"> California </a></li>
                    <li><a href="/resources/australia"> Australia </a></li>
                    <li><a href="/resources/brunei"> Brunei </a></li>
                    <li><a href="/resources/cambodia"> Cambodia </a></li>
                    <li><a href="/resources/hongkong"> Hong Kong </a></li>
                    <li><a href="/resources/indonesia"> Indonesia </a></li>
                    <li><a href="/resources/india"> India </a></li>
                    <li><a href="/resources/japan"> Japan </a></li> 
                    <li><a href="/resources/korea"> Korea </a></li>
                    <li><a href="/resources/laos"> Laos </a></li>
                    <li><a href="/resources/malaysia"> Malaysia </a></li>
                  </ul>
                </div><!-- end col-sm-6  -->

                <div class="col-sm-6">
                  <ul style="list-style-type:none; padding-left: 5px; margin-left:-20px;"> 
                    <li><a href="/resources/macau"> Macau </a></li>
                    <li><a href="/resources/myanmar"> Myanmar </a></li>
                    <li><a href="/resources/mongolia"> Mongolia </a></li>
                    <li><a href="/resources/newzealand"> New Zealand </a></li>
                    <li><a href="/resources/papua"> Papua New Guinea </a></li>
                    <li><a href="/resources/prc"> People's Republic of China </a></li>
                    <li><a href="/resources/philippines"> Philippines </a></li>
                    <li><a href="/resources/singapore"> Singapore </a></li>
                    <li><a href="/resources/taiwan"> Taiwan </a></li>
                    <li><a href="/resources/thailand"> Thailand </a></li>
                    <li><a href="/resources/timor"> Timor-Leste </a></li>
                    <li><a href="/resources/vietname"> Vietnam </a></li>
                  </ul>
                </div><!-- end col-sm-6  -->
              </div><!-- end Row -->
            </div><!-- end footerContent --> 
          </div>

          <div class="col-md-4 col-sm-4">
            <div class="footerContent"> 
              <div class="text-center">
                <img src="img/logowhiteFooter.png" style="margin-bottom:10px"><br><br>
                <strong>About Cal-Asia</strong><br>
                <a href="/about">Mission and History</a><br>
                <a href="/about">Board of Directors</a><br>
                <a href="/membership">Become a Member</a><br>
                <a href="#">Sponsorship Opportunities</a>
               </div>
            </div><!-- end FooterContent -->
          </div><!-- end col-md-4 --> 

          <div class="col-md-4 col-sm-4" id="footer-a">
            <div class="footerContent">
              <div class="row">
                <div class="col-sm-6">
                  <p><strong>Cal-Asia Projects</strong></p>
                  <a href="#">Great Asia Build</a><br>
                  <a href="#">Cal-Asia Business Outlook</a><br>
                  <a href="/internship">Internship Opportunities</a><br><br></p>
                </div><!-- end col-sm-6 -->

                <div class="col-sm-6" id="footer-b">
                  <p><strong>Connect with Us!</strong><br><br>
                  <a href="https://twitter.com/calasiaorg" target="_blank">Twitter</a><br>
                  <a href="https://www.facebook.com/calasiabusinesscouncil" target="_blank">Facebook</a><br>
                  <a href="https://www.linkedin.com/company/california-asia-business-council" target="_blank">LinkedIn</a><br></p>
                </div><!-- end col-sm-6 -->
              </div><!-- end row -->

              <div class="row">
                <div class="col-lg-12" id="footer-c">
                  <address>
                    <strong>California-Asia Business Council (Cal-Asia)</strong><br>
                    525 Market Street, 25th Floor<br>
                    San Francisco, CA 94105<br>
                    <abbr title="Phone">P:</abbr> 415-986-8808
                  </address>
                  <address>
                    <strong>Executive Director, Ms. Jeremy Potash</strong> 
                    <a href="mailto:#">jeremy@calasia.org</a><br>
                    <strong>General Information</strong>
                    <a href="mailto:#">info@calasia.org</a>
                  </address>
                </div><!-- end col-lg-12 -->
              </div><!-- end row -->
            </div><!-- end FooterContent -->
          </div><!-- end col-md-4 --> 
        </div><!--end footer row -->
      </footer>
      <!-- Subscribe modal -->  
      <div class="modal fade" id="subscribeModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" style="border-bottom:none">
              <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="color:black;max-height:100%;overflow:hidden">
              <!-- Begin MailChimp Signup Form -->
              <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
              <style type="text/css">
                #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
              </style>
              <div id="mc_embed_signup">
                <form action="//calasia.us9.list-manage.com/subscribe/post?u=2354f1e3ac75ef109c5a433b7&amp;id=fde6e72641" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">
                    <h2>Subscribe to Cal-Asia</h2>
                    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                    <div class="mc-field-group">
                      <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                    </label>
                      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                    </div>
                    <div class="mc-field-group">
                      <label for="mce-FNAME">First Name </label>
                      <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                    </div>
                    <div class="mc-field-group">
                      <label for="mce-LNAME">Last Name </label>
                      <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                    </div>
                    <div id="mce-responses" class="clear">
                      <div class="response" id="mce-error-response" style="display:none"></div>
                      <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_2354f1e3ac75ef109c5a433b7_fde6e72641" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                  </div>
                </form>
              </div>
              <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='text';fnames[4]='MMERGE4';ftypes[4]='text';fnames[5]='MMERGE5';ftypes[5]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
              <!--End mc_embed_signup-->
            </div><!-- end modal body-->
          </div><!-- end modal content -->
        </div><!-- end modal dialog --> 
      </div><!--end modal fade -->  
      <section id='subscribe'>
        <div class="row">
          <div class="col-lg-12">
            <p onclick="$('#subscribeModal').modal('show')" style="cursor:pointer">Subscribe to Cal-Asia</p>
          </div>
        </div>
      </section>
      <section id="copyright">
        <div class="row" >
          <div class="col-lg-12">
          &copy; 2015 California-Asia Business Council. All Rights Reserved.
          </div>
        </div>
      </section>
    </div> <!-- end Body Container-->

  
    <!-- All Javascript at the bottom of the page for faster page loading -->
      
    <!-- First try for the online version of jQuery-->
    <script src="https://code.jquery.com/jquery.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-sanitize.js"></script>
    <script src="https://mindmup.github.io/bootstrap-wysiwyg/external/jquery.hotkeys.js"></script>
    <script src="js/bootstrap-wysiwyg.js"></script>
    <script src="js/calasia.js"></script>
    <script src="js/script.js"></script>

  </body>

</html>