<!DOCTYPE html>
<html lang="en">
  <head>
    
    <!-- Meta -->
    <meta charset="utf-8"/>
    <title>California-Asia Business Council</title>
    <meta name="keywords" content="california, asia, business, council, cal-asia">
    <meta name="author" content="Shin Thu San www.theyangonite.com">
    
    <!-- Mobile Specific --> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <!-- Boostrap CSS -->
    <link href = "css/bootstrap.min.css" rel = "stylesheet">
    <link rel ="shortcut icon" href="/favicon.ico">
    <link href = "css/bootstrap-glyphicons.css" rel = "stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>

    <!-- Custom CSS --> 
    <link href = "css/styles.css" rel = "stylesheet">
    <!-- Angular JS -->
    <base href='/'>

  </head>
  
  <body ng-app="calasia">
  
    <!-- Navigation --> 
    <nav class="navbar navbar-default">
      <div class="container" id="nav-container-inner">
        <div class="navbar-header">
          
          <button type="button" class="navbar-toggle" data-target="#nav_list" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="/"><img src="img/logoblk.png" alt="logo"></a>
        </div><!-- end navbar-header -->

        <div class="collapse navbar-collapse" id = "nav_list" >
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/">Home</a></li>

            <li class="dropdown">
              <a style="cursor:pointer" class="dropdown-toggle" data-toggle="dropdown">Events<strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <li><a href="/programs">Cal-Asia Programs</a></li>
                <li><a href="/calendar">Calendar</a></li>
              </ul><!-- end dropdown-menu-->
            </li>
            <li><a href="/membership">Membership</a></li>
            <li><a href="/resources">Resources</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="http://asianight.org/" target="_blank" class="extLink">Asia Night <span class="glyphicon glyphicon-new-window"></span></a></li>
          
          </ul><!-- end nav -->
        </div><!-- end nav-collapse --> 
      </div><!-- end navbar-container-inner --> 
    </nav><!-- end navbar-fixed top -->

    <!-- Body Container -->
    <div class="container">

      <!-- Body Div -->
      <div id="bodyDiv">

        <!-- I Mission --> 
        <div id="missionBox">
          <div class="row">
            <div class="col-lg-12">
              <p class="text-center" id="mission-text">Cal-Asia's <b>mission</b> is to foster business between California and the economies of Asia</p>
            </div><!-- end col-lg-12 -->
          </div><!-- end row -->
        </div><!-- end missionBox -->

        <!-- main view -->
        <div ng-view>
        </div>
      </div><!-- end bodyDiv -->

      <footer>
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="footerContent">
              <strong>Economy pages</strong>
              <div class="row" style="margin-top:15px;">
                <div class="col-sm-6">
                  <ul style="list-style-type:none; padding-left: 5px; margin-left: 0px">
                    <li><a href="/resources/california"> California </a></li>
                    <li><a href="/resources/australia"> Australia </a></li>
                    <li><a href="/resources/brunei"> Brunei </a></li>
                    <li><a href="/resources/cambodia"> Cambodia </a></li>
                    <li><a href="/resources/hongkong"> Hong Kong </a></li>
                    <li><a href="/resources/indonesia"> Indonesia </a></li>
                    <li><a href="/resources/india"> India </a></li>
                    <li><a href="/resources/japan"> Japan </a></li> 
                    <li><a href="/resources/korea"> Korea </a></li>
                    <li><a href="/resources/laos"> Laos </a></li>
                    <li><a href="/resources/malaysia"> Malaysia </a></li>
                  </ul>
                </div><!-- end col-sm-6  -->

                <div class="col-sm-6">
                  <ul style="list-style-type:none; padding-left: 5px; margin-left:-20px;"> 
                    <li><a href="/resources/macau"> Macau </a></li>
                    <li><a href="/resources/myanmar"> Myanmar </a></li>
                    <li><a href="/resources/mongolia"> Mongolia </a></li>
                    <li><a href="/resources/newzealand"> New Zealand </a></li>
                    <li><a href="/resources/papua"> Papua New Guinea </a></li>
                    <li><a href="/resources/prc"> People's Republic of China </a></li>
                    <li><a href="/resources/philippines"> Philippines </a></li>
                    <li><a href="/resources/singapore"> Singapore </a></li>
                    <li><a href="/resources/taiwan"> Taiwan </a></li>
                    <li><a href="/resources/thailand"> Thailand </a></li>
                    <li><a href="/resources/timor"> Timor-Leste </a></li>
                    <li><a href="/resources/vietname"> Vietnam </a></li>
                  </ul>
                </div><!-- end col-sm-6  -->
              </div><!-- end Row -->
            </div><!-- end footerContent --> 
          </div>

          <div class="col-md-4 col-sm-4">
            <div class="footerContent"> 
              <p class="text-center">
                <img src="img/logowhiteFooter.png"><br><br>
                <strong>About Cal-Asia</strong><br>
                <a href="#">Mission and History</a><br>
                     <a href="#">Board of Directors</a><br>
                     <a href="#">Become a Member</a><br>
                     <a href="#">Sponsorship Opportunities</a></p>
            </div><!-- end FooterContent -->
          </div><!-- end col-md-4 --> 

          <div class="col-md-4 col-sm-4" id="footer-a">
            <div class="footerContent">
              <div class="row">
                <div class="col-sm-6">
                  <p><strong>Cal-Asia Projects</strong></p>
                  <a href="#">Great Asia Build</a><br>
                  <a href="#">Cal-Asia Business Outlook</a><br>
                  <a href="/internship">Internship Opportunities</a><br><br></p>
                </div><!-- end col-sm-6 -->

                <div class="col-sm-6" id="footer-b">
                  <p><strong>Connect with Us!</strong><br><br>
                  <a href="#">Twitter</a><br>
                  <a href="#">Facebook</a><br>
                  <a href="#">LinkedIn</a><br></p>
                </div><!-- end col-sm-6 -->
              </div><!-- end row -->

              <div class="row">
                <div class="col-lg-12" id="footer-c">
                  <address>
                    <strong>California-Asia Business Council (Cal-Asia)</strong><br>
                    525 Market Street, 25th Floor<br>
                    San Francisco, CA 94105<br>
                    <abbr title="Phone">P:</abbr> 415-986-8808
                  </address>
                  <address>
                    <strong>Executive Director, Ms. Jeremy Potash</strong> 
                    <a href="mailto:#">jeremy@calasia.org</a><br>
                    <strong>General Information</strong>
                    <a href="mailto:#">info@calasia.org</a>
                  </address>
                </div><!-- end col-lg-12 -->
              </div><!-- end row -->
            </div><!-- end FooterContent -->
          </div><!-- end col-md-4 --> 
        </div><!--end footer row -->
      </footer>
    
      <section id="copyright">
        <div class="row" >
          <div class="col-lg-12">
          &copy; 2015 California-Asia Business Council. All Rights Reserved.
          </div>
        </div>
      </section>
    </div> <!-- end Body Container-->

  
    <!-- All Javascript at the bottom of the page for faster page loading -->
      
    <!-- First try for the online version of jQuery-->
    <script src="https://code.jquery.com/jquery.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-sanitize.js"></script>
    <script src="js/calasia.js"></script>
    <script src="js/script.js"></script>

  </body>

</html>